        <interfaces operation="replace">
            {% for intf_name, intf_data in interfaces.items() %}
            <interface>
                <name>{{ intf_name }}</name>
                {% if intf_data.vlan_tagging is defined %}
                <vlan-tagging/>
                {% endif %}
                {% for unit_name, unit_data in intf_data.units.items() %}
                <unit>
                    <name>{{ unit_name }}</name>
                    {% if intf_data.vlan_tagging is defined %}
                    <vlan-id>{{ unit_data.vlan_id }}</vlan-id>
                    {% endif %}
                    <family>
                        {% for family_name, family_data in unit_data.families.items() %}
                        <{{ family_name }}>
                            {% if family_data.filters is defined %}
                            <filter>
                                {% for direction, filter_name in family_data.filters.items() %}
                                <{{ direction }}>
                                    <filter-name>{{ filter_name }}</filter-name>
                                </{{ direction }}>
                                {% endfor %}
                            </filter>
                            {% endif %}
                            {% if family_data.addresses is defined %}
                            {% for address, address_options in family_data.addresses.items() %}
                            <address>
                                <name>{{ address }}</name>
                                {% if address_options is iterable %}
                                {% for option in address_options %}
                                <{{ option }}/>
                                {% endfor %}
                                {% endif %}
                            </address>
                            {% endfor %}
                            {% endif %}
                        </{{ family_name }}>
                        {% endfor %}
                    </family>
                </unit>
                {% endfor %}
            </interface>
            {% endfor %}
        </interfaces>

