            <login>
                <class>
                    <name>mon</name>
                    <permissions>secret</permissions>
                    <permissions>view</permissions>
                    <permissions>view-configuration</permissions>
                    <allow-commands>ping*|trace*|show*</allow-commands>
                </class>
                {% for user_name, user_data in users.items() %}
                <user>
                    <name>{{ user_name }}</name>
                    {% if user_data.uid is defined %}
                    <uid>{{ user_data.uid }}</uid>
                    {% endif %}
                    <class>{{ user_data.class | default("super-user") }}</class>
                    <authentication>
                        {% if user_data.pass is defined %}
                        <encrypted-password>{{ user_data.pass }}</encrypted-password>
                        {% endif %}
                        {% if user_data.ssh_keys is defined %}
                        {% for key in user_data.ssh_keys %}
                        <ssh-rsa>
                            <name>ssh-rsa {{ key }}</name>
                        </ssh-rsa>
                        {% endfor %}
                        {% endif %}
                    </authentication>
                </user>
                {% endfor %}
            </login>

