            {% if ntp is defined %}
            <ntp>
                {% for server in ntp %}
                <server>
                    <name>{{ server }}</name>
                </server>
                {% endfor %}
            </ntp>
            {% endif %}
