#jinja2: trim_blocks:True, lstrip_blocks:True
<config>
    <configuration xmlns="http://xml.juniper.net/xnm/1.1/xnm">
        {% include 'system.j2' %}
        {% include 'interfaces.j2' %}
        {% include 'routing-options.j2' %}
        {% include 'protocols.j2' %}
        {% include 'policy-options.j2' %}
        {% include 'firewall.j2' %}
        {% include 'routing-instances.j2' %}
    </configuration>
</config>
