hostname {{ hostname }}
!
mpls ldp router-id Loopback0 force
!
{% for user in users %}
username {{ user.name }} privilege 15 password 0 {{ user.pass }}
{% endfor %}
!
{% for vrf in vrfs %}
ip vrf {{ vrf.name }}
 rd {{ vrf.rd }}
 route-target export {{ vrf.rt }}
 route-target import {{ vrf.rt }}
!
{% endfor %}
interface Loopback0
 ip address {{ lo }}
 ip ospf 1 area 0
!
{% for intf in clients %}
interface {{ intf.intf }}
 ip vrf forwarding {{ intf.vrf }}
 ip address {{ intf.ip }} {{ intf.netmask }}
!
{% endfor %}
router ospf 1
 mpls ldp autoconfig
!
{% for intf in core %}
interface {{ intf.intf }}
 ip address {{ intf.ip }} {{ intf.netmask }}
 ip ospf 1 area 0
!
{% endfor %}
router bgp 1
 bgp router-id interface Loopback0
{% for peer in bgp %}
 neighbor {{ peer.ip }} remote-as {{ peer.as }}
 neighbor {{ peer.ip }} update-source Loopback0
!
 address-family ipv4
  no neighbor {{ peer.ip }} activate
!
 address-family vpnv4
  neighbor {{ peer.ip }} activate
  neighbor {{ peer.ip }} next-hop-self
  neighbor {{ peer.ip }} send-community extended
!
{% for vrf in vrfs %}
 address-family ipv4 vrf {{ vrf.name }}
  redistribute connected
!
{% endfor %}
{% endfor %}
interface {{ mgmt.intf }}
 ip vrf forwarding MGMT
 ip address {{ mgmt.ip }} {{ mgmt.netmask }}
!
