
## Last commit: 2018-03-09 14:11:04 UTC by root
version 17.2R1.13;
system {
    host-name vMX5;
    root-authentication {
        encrypted-password "$6$W0vX0Cf4$eyByLm6qt3xv5T2SvjHs.vQvIY708eYJYaFmaH3GzWIcSw1AgL55fRn1jhIGna22LGa2A0QQFdpd3IwUYHhxX1"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$4vzgWM/k$aS2vgiY4IYAl8b0mJWaJSC8iVZL8top2jrM55c6OX8Z4v4gUSXQ39Ocjgct7rKg17YjZjJb/IPbns2QUEseLB1"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        rest {
            http {
                port 8080;
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
chassis {
    auto-image-upgrade;
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.10.30.5/24;
            }
        }
    }
    fxp0 {
        unit 0;
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 10.10.30.254;
    }
}
