            <services>
                <ssh>
                    <root-login>deny</root-login>
                </ssh>
                <telnet>
                </telnet>
                <netconf>
                    <ssh>
                        <port>830</port>
                    </ssh>
                    <rfc-compliant/>
                </netconf>
                <rest>
                    <http>
                        <port>8080</port>
                    </http>
                </rest>
            </services>

