        <interfaces operation="replace">
            {% for intf_name, intf in interfaces.items() %}
            <interface>
                <name>{{ intf_name }}</name>
                {% for unit_name, unit in intf.units.items() %}
                <unit>
                    <name>{{ unit_name }}</name>
                    <family>
                        {% for family_name, family in unit.families.items() %}
                        <{{ family_name }}>
                            {% if family.filters is defined %}
                            <filter>
                                {% for direction, filter_name in family.filters.items() %}
                                <{{ direction }}>
                                    <filter-name>{{ filter_name }}</filter-name>
                                </{{ direction }}>
                                {% endfor %}
                            </filter>
                            {% endif %}
                            {% if family.addresses is defined %}
                            {% for address, address_options in family.addresses.items() %}
                            <address>
                                <name>{{ address }}</name>
                                {% if address_options is iterable %}
                                {% for option in address_options %}
                                <{{ option }}/>
                                {% endfor %}
                                {% endif %}
                            </address>
                            {% endfor %}
                            {% endif %}
                        </{{ family_name }}>
                        {% endfor %}
                    </family>
                </unit>
                {% endfor %}
            </interface>
            {% endfor %}
        </interfaces>

