            <login>
                <class>
                    <name>mon</name>
                    <permissions>secret</permissions>
                    <permissions>view</permissions>
                    <permissions>view-configuration</permissions>
                    <allow-commands>ping*|trace*|show*</allow-commands>
                </class>
                {% for user in users %}
                <user>
                    <name>{{ user.name }}</name>
                    {% if user.uid is defined %}
                    <uid>{{ user.uid }}</uid>
                    {% endif %}
                    <class>{{ user.class | default("super-user") }}</class>
                    <authentication>
                        {% if user.pass is defined %}
                        <encrypted-password>{{ user.pass }}</encrypted-password>
                        {% endif %}
                        {% if user.ssh_keys is defined %}
                        {% for key in user.ssh_keys %}
                        <ssh-rsa>
                            <name>ssh-rsa {{ key }}</name>
                        </ssh-rsa>
                        {% endfor %}
                        {% endif %}
                    </authentication>
                </user>
                {% endfor %}
            </login>

