        <policy-options operation="replace">
            {% include "prefix-list.j2" %}
            {% include "policy-statement.j2" %}
            {% include "community.j2" %}
        </policy-options>

